@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.abc{
    text-align: center;
    margin-top: 50px;
    background-color: darkgray;
    color: coral;
}

.icon-bar{
    position: fixed;
    top: 50%;
    /* hamara jo bi width hai uc ake perfectly center pae a jae */
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
}

.icon-bar a{
    text-decoration: none;
    width: 210px;
    background: #3b5999;
    color: #fff;
    /* thori sdpace or proper yeh center mae rhae */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    transform: translateX(-170px);
    -webkit-transform: translateX(-170px);
    -ms-transform: translateX(-170px);

    transition: all 0.5s linear;
    -webkit-transition: all 0.5 linear;
    -ms-transition : all 0.5 linear;

}

a i{
    padding-left: 20px;
    font-size: 30px !important;
    animation: letszoom 3s linear alternate-reverse infinite;
}
/* jo uc ko hide kia uc ko dikhana haui */
a:hover{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}

.facebook {
    background: #3b5998;
}
.twitter {
    background: #00aced;
}
.instagram {
    background:#e4405f;
}
.youtube {
    background: #cd201f;
}
.linkedin {
    background: #0077B5;
}



@keyframes letszoom{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
